<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShowInfo</title>
</head>

<body>
    <div class="container">
        @model Activity
        <div class="row">
            <div class="col-9">
                <h3>Dojo Acitivity Center</h3>
            </div>
            <div class="col-3">
                <a href="/dashboard" class="mr-2">Dashboard</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <hr class="bg-dark">
        <br>


        <div class="row">
            <div class="col-6 ml-5">
                <h5>@Model.Title</h5>
            </div>
            <div class="col-4">
                @if(Model.UserId == ViewBag.UserId)
                {
                    
                    <a href="/delete/@Model.ActivityId" class="btn btn-primary" role="button" >Delete</a>
                }
                else
                {
                    if(Model.ActivityUser.Any( a => a.UserId == ViewBag.UserId))
                    {
                
                        <a href="/leave/@Model.ActivityId" class="btn btn-primary" role="button" >Leave</a>
                    
                    }
                    else
                    {
                        
                        <a href="/join/@Model.ActivityId" class="btn btn-primary" role="button" >Join</a>
                    }
                }
                                
                

            </div>
        </div>
        <p>Event Coordinator: @Model.Createdby.FirstName</p>
        <p>Description</p>
        <div class="border-dark">
            <p>@Model.Description</p>
        </div>
        <div class="col-4 ml 5">
            <P>Participant:</P>
            <ul>
                @foreach(var i in Model.ActivityUser)
                {
                <li>@i.ActivityParticipant.FirstName @i.ActivityParticipant.LastName</li>
                }
            </ul>
        </div>

    </div>


</body>

</html>